

/* Index */
b{
    color: #850000;
}




/* NAVBAR */


/* Contacto */




/* Sobre-Nosotros */


/* Ejercicios */


/* entrenadores */







/* Responsive Index*/

@media (max-width:992px){
    .back{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .h2{
        grid-column: 1/4;
    }
    .entrenar{
        display: none;
    }
    .nav-principal{
        grid-column: 1/4;
        grid-row: 2/3;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:759px){
    .h1-index{
        font-size: 50px;
    }
}
@media(max-width:655px){
    .h1-index{
        font-size: 40px;
    }
}

@media (max-width:676px){
    .navbar-index li{
        height: 200px;
        width: 230px;
    }
    .navbar-index a{
        font-size: 29px;
    }
}
@media (max-width:576px){
    .navbar-index li{
        height: 190px;
        width: 210px;
    }
}
@media (max-width:539px){
    .navbar-index li{
        width: 180px;
        height: 162px;
    }
    .navbar-index a{
        font-size: 25px;
    }
    .navbar-index img{
        width: 75px;
        height: 80px;
    }
    .divInicial a{
        display: none;
    }
    .divInicial{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:474px){
    .navbar-index li{
        width: 160px;
        height: 132px;
    }
    .navbar-index a{
        font-size: 18px;
    }
    .navbar-index img{
        width: 60px;
        height: 60px;
    }
    .h2{
        font-size: 24px;
    }
}
@media (max-width:425px){
    .h1-index{
        font-size: 30px;
        align-self: center;
    }
    .divInicial img{
        height: 70px;
        top: 15px;
        left: -12px;
    }
    .h2{
        font-size: 22px;
        padding-top: 25px;
    }
}

@media(max-width:398px){
    .navbar-index li{
        width: 140px;
        height: 162px;
    }
}

@media (max-width:375px){
    .navbar-index{
        row-gap: 50px;
        column-gap: 20px;
    }
    .p{
        left: 17%;
    }
    .back{
        height: 800px;
    }
}
@media (max-width:320px){
    .divInicial h1{
        font-size: 25px;
    }
    h2{
        font-size: 25px;
    }
}




/* responsive ejercios */
@media (max-width:1202px){
    .background-ejer{
        height:2500px;
    }
    .containesejercicios{
        grid-template-columns: auto auto;
    }
}
@media(max-width:1156px){
    .nav ul li a{
        font-size: 30px;
    }
    .divIcono p{
        font-size: 22px;
    }
}
@media (max-width:1014px){
    .nav ul li a{
        font-size: 25px;
    }
}
@media (max-width:798px){
    .background-ejer{
        height:4800px;
        background-position: center;
    }
    .containesejercicios{
        grid-template-columns: auto;
    }
    .rojo{
        color: #850000;
    }
}
@media (max-width:474px){
    .background-ejer{
        height:4100px;
    }
    .ejeglobal img{
        height: 240px;
        width: 300px;
    }
    .ejeglobal{
        justify-self: center;
    }
    .ejeglobal div{
        width: 300px;
    }
}
@media (max-width:474px){
    .background-ejer{
        height:3500px;
    }
    .ejeglobal img{
        height: 200px;
        width: 250px;
    }
    .ejeglobal div{
        width: 250px;
    }
    .eje{
        font-size: 38px;
    }
    .ejercicio-h1{
        font-size: 42px;
    }
}

/* responsive entrenadores */
@media(max-width:1586px){
    .backgroud-grey:last-child{
        height: 1500px;
    }
    .container-entrenadores{
        grid-template-columns: auto auto;
        grid-template-rows:  auto auto;
    }
}

@media(max-width:868px){
    .section-entrenadores p{
        font-size: 20px;
    }
}

@media (max-width:796px){
    .entglobal img {
        height: 410px;
        width: 340px;
    }
    .ent1 div{
        height: 120px;
        width: 340px;
    }
    
    .ent2 div{
        height: 120px;
        width: 340px;
    }
    
    .ent3 div{
        height: 120px;
        width: 340px;
    }
    
    .ent4 div{
        height: 120px;
        width: 340px;
    }
}
@media (max-width:676px){
    .entglobal img {
        height: 340px;
        width: 280px;
    }
    .ent1 div{
        height: 120px;
        width: 280px;
    }
    
    .ent2 div{
        height: 120px;
        width: 280px;
    }
    
    .ent3 div{
        height: 120px;
        width: 280px;
    }
    
    .ent4 div{
        height: 120px;
        width: 280px;
    }
    .nombre-ent{
        font-size: 40px;
    }
}
@media (max-width:558px){
    .backgroud-grey:last-child{
        height: 2000px;
    }
    .container-entrenadores{
        grid-template-columns: 1fr;
        grid-template-rows:  auto auto auto auto;
    }
    .ent1{
        justify-self: center;
    }
    .ent2{
        justify-self: center;
    }
    .ent3{
        justify-self: center;
    }
    .ent4{
        justify-self: center;
    }
}
@media (max-width:473px){
    .section-entrenadores h1{
        font-size: 50px;
    }
    
    .section-entrenadores h2{
        font-size: 35px;
    }
    
    .section-entrenadores p{
        font-size: 20px;
    }
    .h2-entrenadores h2{
        font-size: 35px;
    }
    .h2-entrenadores p{
        font-size: 15px;
    }
}
@media (max-width:385px){
    .section-entrenadores h1{
        font-size: 40px;
    }
    .section-entrenadores h2{
        font-size: 30px;
    }
    .section-entrenadores p{
        font-size: 19px;
    }
    .h2-entrenadores h2{
        font-size: 30px;
    }
}
@media (max-width:336px){
    .section-entrenadores h2{
        font-size: 26px;
    }
    .h2-entrenadores h2{
        font-size: 26px;
    }
    .backgroud-grey:last-child{
        height: 2100px;
    }
}

/* responsive contacto */
@media (max-width:1294px){
    .map iframe{
        width: 500px;
    }
}
@media (max-width:1093px){
    .container-grid-contac{
        height: 1600px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-area:
        "contac1"
        "contac2"
    }
    .container-grid-contac section{
        justify-self: center;
        align-self:center
    }
    .map iframe{
        width: 700px;
    }
}
@media (max-width:698px){
    .map iframe{
        width: 500px;
    }
}
@media (max-width:573px){
    .backgroud-contac p{
        font-size: 20px;
    }
    .form-grid{
        grid-area: contac1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9,100px);
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item5"
        "item5"
        "item6";
    }
    .item5 textarea{
        width: 402px;
        height: 250px;
    }
    .item1{
        justify-self: center;
    }
    .item2{
        justify-self: center;
    }
    .item3{
        justify-self: center;
    }
    .item4{
        justify-self: center;
    }
    .item5{
        justify-self: center;
    }
    .text-h2 h2{
        text-align: center;
    }
    .input-sub{
        margin-top: 15px;
    }
}
@media(max-width:488px){
    .map iframe{
        width: 320px;
        height: 400px;
    }
    .h1-contac{
        font-size: 45px;
    }
}
@media (max-width:410px){
    .item5 textarea{
        width: 320px;
        height: 250px;
    }
    .item6 input{
        width: 300px;
        text-align: center;
    }
}
@media (max-width:380px){
    .backgroud-contac h1{
        font-size: 40px;
    }
    .backgroud-contac p{
        font-size: 20px;
    }
}
@media(max-width:328px){
    .item5 textarea{
        margin: 0;
        width: 310px;
        height: 250px;
    }
}

/* responsive sobrenostros */
@media (max-width:1742px){
    .contenedor img{
        height: 300px;
        width: 450px;
    }
}
@media (max-width:1444px){
    .img-salas{
        width: 700px;
        height: 490px;
        border: #850000 solid 8px;
    }
    .contenedor img{
        height: 300px;
        width: 400px;
    }
}
@media(max-width:1294px){
    .contenedor img{
        height: 300px;
        width: 320px;
    }
    .training{
        font-size: 60px;
        top: 35%;
    }
}
@media(max-width:1181px){
    .contenedor-entrenamiento{
        flex-direction: column;
    }
    .contenedor-entrenamiento2{
        flex-direction: column-reverse;
    }
    .salas p{
        padding-bottom: 50px;
        margin: 0;
    }
    .salas h3{
        margin: 0;
    }
}
@media(max-width:1048px){
    .contenedor img{
        height: 312px;
        width: 251px;
    }
}
@media (max-width:843px){
    .contenedor img{
        height: 290px;
        width: 221px;
    }
    .training{
        font-size: 45px;
    }
}
@media(max-width:757px){
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto ;
    }
    .cardio{
        justify-self: center;
        align-self: center;
    }
    .contenedor-entrenamiento{
        padding: 0;
        text-align: center;
    }
    .contenedor-entrenamiento2{
        padding: 70px 0;
        text-align: center;
    }
    .lugares h2{
        text-align: center;
        margin: 40px 0;
    }
}
@media(max-width:698px){
    .contenedor-entrenamiento img{
        width: 550px;
    }
    .contenedor-entrenamiento{
        justify-content: center;
        align-items: center;
    }
    .contenedor-entrenamiento2 img{
        width: 550px;
    }
    .contenedor-entrenamiento2{
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:549px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .contenedor img{
        width: 320px;
        height: 300px;
    }
    .contenedor-entrenamiento img{
        width: 500px;
        height: 350px;
    }
    .contenedor-entrenamiento2 img{
        width: 500px;
        height: 350px;
    }
}
@media(max-width:497px){
    .contenedor-entrenamiento img{
        width: 400px;
        height: 320px;
    }
    .contenedor-entrenamiento2 img{
        width:400px;
        height: 320px;
    }
    .banner-sobre h1{
        font-size: 45px;
    }
    .banner-sobre p{
        font-size: 25px;
    }
}
@media (max-width:395px){
    .contenedor-entrenamiento img{
        width: 350px;
        height: 260px;
    }
    .contenedor-entrenamiento2 img{
        width:350px;
        height: 260px;
    }
    .servicios h2{
        font-size: 35px;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}
@media(max-width:349px){
    .contenedor img{
        width: 280px;
        height: 250px;
    }
    .contenedor-entrenamiento img{
        width: 320px;
        height: 260px;
    }
    .contenedor-entrenamiento2 img{
        width:320px;
        height: 260px;
    }
    .salas h3{
        font-size: 30px;
    }
}