@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

/* Index */
b{
    color: #850000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.divInicial {
    background-color: #fff;
    height: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.divInicial h1{
    font-family: 'Jockey One', sans-serif;
    font-size: 60px;
    text-shadow: 1px 2px 3px #850000;
    text-align: center;
}

.divInicial img{
    height: 95px;
    top: 5px;
    position: absolute;
}

.red{
    background-color: #850000;
    width: 100%;
    height: 7px;
}

.back{
    background-image: url("../assets/img/wdqfe-min.jpg");
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 240px auto;
}

.h2{
    grid-row: 1/2;
    grid-column: 1/3;
    padding-top: 25px;
    justify-self: center;
    color: #fff;
    font-size: 30px;
    word-spacing: 8px;
    text-shadow: 3px 2px 2px #850000;
}
.entrenar-res{
    display: none;
    color: white;
    font-family: 'Jockey One', sans-serif;
    font-size: 40px;
    text-shadow: 5px 4px #850000;
}

.entrenar{
    grid-row: 2/3;
    color: white;
    font-family: 'Jockey One', sans-serif;
    font-size: 40px;
    text-shadow: 5px 4px #850000;
    padding-left: 40px;
}

.navbar-index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    column-gap: 50px;
}
.li-red1{
    justify-self: end;
}
.li-red3{
    justify-self: end;
}

.nav-principal{
    grid-row: 2/3;
    grid-column: 2/3;
}

.navbar-index li{
    height: 230px;
    width: 280px;
    background-color: #850000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.navbar-index li:hover{
    width: 310px;
    height: 260px;
    transition: 0.5s;
    
}


.navbar-index  a{
    color: #fff;
    text-align: center;
    font-size: 33px;
}

.navbar-index  img{
    height: 90px;
}



/* Footer */
.footer-index{
    position: absolute;
    width: 100%;
}


.background-footer2{
    position: relative;
    background-color: #000;
    width: 100%;
    height: 250px
}

.background-footer2 div:first-child{
    background-color: #850000;
    height: 6px;
    width: 500px;
    position: absolute;
    top: 30%;
    left: 2%;
}

.background-footer2 div:nth-child(3){
    background-color: #850000;
    height: 6px;
    width: 500px;
    position: absolute;
    top: 30%;
    right: 1%;
}

.background-footer2 p:nth-child(2){
    color: #fff;
    position: absolute;
    top: 15%;
    left: 41.5%;
    font-size: 50px;
    font-family: 'Jockey One', sans-serif;
}

.a-img{
    position: absolute;
}

.img1{
    left: 42%;
    top: 50%;
}

.img2{
    left: 47%;
    top: 49%;
}

.img3{
    left: 52%;
    top: 50%;
}

.background-footer2 a img{
    width: 80px;
    height: 70px;
}

.p{
    color: #fff;
    position: absolute;
    top: 78%;
    left: 42.1%;
    font-size: 35px;
    font-family: 'IM Fell French Canon SC', serif;
}



/* NAVBAR */

.nav-wraper{
    width: 100%;
    margin: 0 auto;
    padding: 1rem; /**1rem= 16px**/
    height: 120px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo p{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu ul{
    list-style: none;
    display: flex;
    gap:3rem;
}
.menu ul li a{
    text-decoration: none;
    color: #850000;
    font-size: 32px;
    transition: 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

.menu ul li a::after{
    content: "";
    position: absolute;
    background-color: #850000;
    height: 5px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.menu ul li a:hover:after{
    width: 100%;
    transition: 0.5s;
}
.menu ul li a:hover{
    color: #000;
}


nav #toggle, nav label{
    display: none;
}

b{
    color: #850000;
}



/* Contacto */
.container-grid-contac{
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-area:
    "contac1 contac2"
}


.backgroud-contac{
    background-color: #000;
    height: 140px;
}
.backgroud-contac h1{
    padding-top: 10px;
    color: #fff;
    text-shadow: 4px 4px #850000;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 50px;
}
.backgroud-contac p{
    color: #fff;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
}

.text-h2{
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 32px;
    margin: 30px 10px;
    justify-self: center;
}


.map{
    grid-area: contac2;
    margin-top: 120px;
}

.form-grid{
    grid-area: contac1;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(2,100px) 1fr 1fr;
    grid-template-areas:
    "item1 item2"
    "item3 item4"
    "item5 item5"
    "item6 item6";
}
.form-grid div p{
    font-family: 'IM Fell French Canon SC', serif;
    padding-left: 5px;
}


.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}

.item-gen{
    margin-left: 5px
}

.item-gen input{
    color: #fff;
}

.item5 textarea{
    resize: none;
    width: 562px;
    height: 250px;
}

.item6{
    grid-area: item6;
    justify-self: center;
    padding-top: 15px;
}
.inputs{
    background-color: #222222;
    height: 50px;
    width: 260px;
    margin-left: 5px;
    border: 5px solid #850000
}
.input-sub{
    background-color: #850000;
    color: #fff;
    width: 400px;
}



/* Sobre-Nosotros */
.banner-sobre{
    background-color: #000;
    width: 100%;
    height: 290px;
}

.banner-sobre h1{
    color: #fff;
    font-size: 85px;
    font-family: 'Anton', sans-serif;
    text-shadow: 5px 5px #850000;
    padding-left: 10px;
}

.banner-sobre p{
    color: #fff;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

.servicios{
    font-family: 'Anton', sans-serif;
    font-size: 31px;
    padding: 20px;
    padding-top: 50px;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.contenedor img{
    height: 400px;
    width: 600px;
    border-radius: 30px;
    border: solid 2px #850000;
    margin: 16px;
}
.img{
    position: relative;
    text-align: center;
}
.training{
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    text-shadow: 3px 3px 1px #222222;
}

.lorem{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lugares{
    font-family: 'Anton', sans-serif;
    font-size: 31px;
    padding: 20px;
    padding-top: 90px;
}


.contenedor-entrenamiento{
    display: flex;
    padding: 40px;
    padding-top: 80px;
}

.img-salas{
    width: 800px;
    height: 490px;
    border: #850000 solid 8px;
}

.salas h3{
    font-family: 'Anton', sans-serif;
    color: #850000;
    font-size: 40px;
    margin-left: 15px;
}

.salas p{
    margin: 10px;
    font-size: 25px;
}


/* Ejercicios */

.ejercicio-h1{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}


.background-ejer{
    background-image: url("../assets/img/wp3006532.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 2000px;
}


.ejeglobal img {
    height: 300px;
    width: 400px;
    border-radius: 40px 40px 0 0;
    z-index: -2;
}

.ejeglobal a{
    text-decoration: none;
    color: #fff;
}


.eje{
    font-size: 45px;
    text-align: center;
}

.x-ejer{
    font-size: 25px;
    text-align: center;
}


.ejeglobal div{
    position: relative;
    z-index: 100;
    margin-top: -40px;
    background-color: #000;
    height: 90px;
    width: 400px;
    border-radius:30px 30px 0 0;
}


.container-ejercicios{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    row-gap: 70px;
}



/* entrenadores */

.backgorund-entrenadores{
    background-image: url("../assets/img/r.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    filter:brightness(0.7);
    filter: contrast(0.99);
}

.section-entrenadores h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
}

.section-entrenadores h2{
    text-align: start;
    font-family: 'Jockey One', sans-serif;
    font-size: 45px;
    padding: 13px;
}

.section-entrenadores p{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}

.backgroud-grey{
    background-color: #141414;
}

.backgroud-grey:last-child{
    background-color: #141414;
    height: 950px;
}

.h2-entrenadores h2{
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size:45px;
    padding: 50px 30px;
}


.entglobal img {
    height: 450px;
    width: 400px;
    border-radius: 40px 40px 0 0;
    z-index: -2;
}

.entglobal a{
    text-decoration: none;
    color: #fff;
}


.nombre-ent{
    font-size: 45px;
    text-align: center;
}

.rol{
    font-size: 25px;
    text-align: center;
    color: rgb(143, 142, 142);
}


.entglobal div{
    position: relative;
    z-index: 100;
    margin-top: -40px;
    height: 120px;
    width: 400px;
    border-radius:30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ent1 div{
    height: 120px;
    width: 400px;
    background-color:#57679F ;
    color: #000;
    font-family: 'Jockey One', sans-serif;
}

.ent2 div{
    height: 120px;
    width: 400px;
    background-color:#000000 ;
    color: #ffffff;
    font-family: 'Jockey One', sans-serif;
}

.ent3 div{
    height: 120px;
    width: 400px;
    background-color:#E3BC56 ;
    color: #000000;
    font-family: 'Jockey One', sans-serif;
}

.ent4 div{
    height: 120px;
    width: 400px;
    background-color:#850000 ;
    color: grey;
    font-family: 'Jockey One', sans-serif;
}

.container-entrenadores{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    align-content: center; 
    row-gap: 70px;
}



/* Responsie NAVBAR */
@media (max-width:1000px) {
    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }
    nav label{
        display: inline-flex;
        color: rgb(0, 0, 0);
        cursor: pointer;
        align-items: center;
    }
    nav #toggle:checked ~ .menu{
        position: absolute;
        top: 13.3%;
        left: 0;
        background-color: #141414;
        height: 300px;
        z-index: 1;
    }
    .menu ul li a{
        font-size: 29px;
    }
}
@media (max-width:320px){
    .logo p{
        font-size: 20px;
    }
    .logo img{
        width: 70px;
    }
    .menu ul li a{
        font-size: 25px;
    }
}


/* Responsive Index*/
@media (max-width:1024px){
    .background-footer2 div:first-child{
        width: 300px;}
    .background-footer2 div:nth-child(3){
        width: 300px;}
    .background-footer2 p:nth-child(2){
        left: 38%;
        }
    .img1{
        left: 39%;
        top: 50%;
    }
    .img2{
        left: 48%;}
    .img3{
        left: 56%;}
    .p{
        left: 39.2%;}
}
@media (max-width:992px){
    .back{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .h2{
        grid-column: 1/4;
    }
    .entrenar{
        display: none;
    }
    .nav-principal{
        grid-column: 1/4;
        grid-row: 2/3;
    }
}

@media (max-width:768px){
    .background-footer2 div:first-child{
        width: 200px;}
    .background-footer2 div:nth-child(3){
        width: 200px;}
    .background-footer2 p:nth-child(2){
        left: 34%;
        }
    .img1{
        left: 36%;}
    .img2{
        left: 46%;}
    .img3{
        left: 57%;}
    .p{
        left: 35%;}
    .divInicial h1{
        font-size: 40px;
    }
}
@media (max-width:676px){
    .navbar-index li{
        height: 200px;
        width: 230px;
    }
    .navbar-index a{
        font-size: 29px;
    }
}
@media (max-width:576px){
    .navbar-index li{
        height: 190px;
        width: 210px;
    }
    .background-footer2 div:first-child{
        display: none;}
    .background-footer2 div:nth-child(3){
        display: none;}
}
@media (max-width:539px){
    .navbar-index li{
        width: 180px;
        height: 162px;
    }
    .navbar-index a{
        font-size: 25px;
    }
    .navbar-index img{
        width: 75px;
        height: 80px;
    }
    .divInicial a{
        display: none;
    }
    .divInicial{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:474px){
    .navbar-index li{
        width: 140px;
        height: 132px;
    }
    .navbar-index a{
        font-size: 21px;
    }
    .navbar-index img{
        width: 70px;
        height: 70px;
    }
    .h2{
        font-size: 24px;
    }
}
@media (max-width:425px){
    .divInicial h1{
        font-size: 30px;
        align-self: center;
    }
    .divInicial img{
        height: 70px;
        top: 15px;
        left: -12px;
    }
    .h2{
        font-size: 22px;
        padding-top: 25px;
    }
    .background-footer2 p:nth-child(2){
        position:unset;
        text-align: center;
        padding-top: 35px;}
    .p{
        left: 20%;}
    .img1{
        left: 20%;
    }
    .img2{
        left: 40%;
    }
    .img3{
        left: 59%;
    }
}
@media (max-width:375px){
    .navbar-index{
        row-gap: 50px;
        column-gap: 20px;
    }
    .p{
        left: 17%;
    }
    .back{
        height: 800px;
    }
}
@media (max-width:320px){
    .divInicial h1{
        font-size: 25px;
    }
    h2{
        font-size: 25px;
    }
    .img1{
        left: 10%;
    }
    .img2{
        left: 37%;
    }
    .img3{
        left: 65%;
    }
    .p{
        left: 10%;
    }
}




/* responsive ejercios */
@media (max-width:1202px){
    .background-ejer{
        height:2500px;
    }
    .container-ejercicios{
        grid-template-columns: auto auto;
    }
}
@media(max-width:1156px){
    .nav ul li a{
        font-size: 30px;
    }
    .divIcono p{
        font-size: 22px;
    }
}
@media (max-width:1014px){
    .nav ul li a{
        font-size: 25px;
    }
}
@media (max-width:798px){
    .background-ejer{
        height:4400px;
    }
    .container-ejercicios{
        grid-template-columns: auto;
    }
    .rojo{
        color: #850000;
    }
}
@media (max-width:474px){
    .background-ejer{
        height:4100px;
    }
    .ejeglobal img{
        height: 240px;
        width: 300px;
    }
    .ejeglobal{
        justify-self: center;
    }
    .ejeglobal div{
        width: 300px;
    }
}
@media (max-width:474px){
    .background-ejer{
        height:3500px;
    }
    .ejeglobal img{
        height: 200px;
        width: 250px;
    }
    .ejeglobal div{
        width: 250px;
    }
    .eje{
        font-size: 38px;
    }
    .ejercicio-h1{
        font-size: 42px;
    }
}

/* responsive entrenadores */
@media(max-width:1586px){
    .backgroud-grey:last-child{
        height: 1500px;
    }
    .container-entrenadores{
        grid-template-columns: auto auto;
        grid-template-rows:  auto auto;
    }
}

@media (max-width:796px){
    .entglobal img {
        height: 410px;
        width: 340px;
    }
    .ent1 div{
        height: 120px;
        width: 340px;
    }
    
    .ent2 div{
        height: 120px;
        width: 340px;
    }
    
    .ent3 div{
        height: 120px;
        width: 340px;
    }
    
    .ent4 div{
        height: 120px;
        width: 340px;
    }
}
@media (max-width:676px){
    .entglobal img {
        height: 340px;
        width: 280px;
    }
    .ent1 div{
        height: 120px;
        width: 280px;
    }
    
    .ent2 div{
        height: 120px;
        width: 280px;
    }
    
    .ent3 div{
        height: 120px;
        width: 280px;
    }
    
    .ent4 div{
        height: 120px;
        width: 280px;
    }
    .nombre-ent{
        font-size: 40px;
    }
}
@media (max-width:558px){
    .backgroud-grey:last-child{
        height: 2000px;
    }
    .container-entrenadores{
        grid-template-columns: 1fr;
        grid-template-rows:  auto auto auto auto;
    }
    .ent1{
        justify-self: center;
    }
    .ent2{
        justify-self: center;
    }
    .ent3{
        justify-self: center;
    }
    .ent4{
        justify-self: center;
    }
}
@media (max-width:473px){
    .section-entrenadores h1{
        font-size: 50px;
    }
    
    .section-entrenadores h2{
        font-size: 35px;
    }
    
    .section-entrenadores p{
        font-size: 25px;
    }
    .h2-entrenadores h2{
        font-size: 35px;
    }
}
@media (max-width:385px){
    .section-entrenadores h1{
        font-size: 40px;
    }
    .section-entrenadores h2{
        font-size: 30px;
    }
    .section-entrenadores p{
        font-size: 23px;
    }
    .h2-entrenadores h2{
        font-size: 30px;
    }
}
@media (max-width:336px){
    .section-entrenadores h2{
        font-size: 26px;
    }
    .h2-entrenadores h2{
        font-size: 26px;
    }
    .backgroud-grey:last-child{
        height: 2100px;
    }
}

/* responsive contacto */
@media (max-width:1294px){
    .map iframe{
        width: 500px;
    }
}
@media (max-width:1093px){
    .container-grid-contac{
        height: 1600px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-area:
        "contac1"
        "contac2"
    }
    .container-grid-contac section{
        justify-self: center;
        align-self:center
    }
    .map iframe{
        width: 700px;
    }
}
@media (max-width:698px){
    .map iframe{
        width: 500px;
    }
}
@media (max-width:573px){
    .form-grid{
        grid-area: contac1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9,100px);
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item5"
        "item5"
        "item6";
    }
    .item5 textarea{
        width: 402px;
        height: 250px;
    }
    .item1{
        justify-self: center;
    }
    .item2{
        justify-self: center;
    }
    .item3{
        justify-self: center;
    }
    .item4{
        justify-self: center;
    }
    .item5{
        justify-self: center;
    }
    .text-h2 h2{
        text-align: center;
    }
}
@media(max-width:488px){
    .map iframe{
        width: 320px;
        height: 400px;
    }
}
@media (max-width:410px){
    .item5 textarea{
        width: 320px;
        height: 250px;
    }
    .item6 input{
        width: 300px;
        text-align: center;
    }
}
@media (max-width:380px){
    .backgroud-contac h1{
        font-size: 40px;
    }
    .backgroud-contac p{
        font-size: 20px;
    }
}
@media(max-width:328px){
    .item5 textarea{
        margin: 0;
        width: 310px;
        height: 250px;
    }
}