@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none; }

*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

b {
  color: #850000; }

.red {
  background-color: #850000;
  width: 100%;
  height: 7px; }

/* Header Index */
.divInicial {
  background-color: #fff;
  height: 100px;
  display: grid;
  grid-template-columns: auto auto auto; }
  .divInicial .h1-index {
    font-family: 'Jockey One', sans-serif;
    font-size: 60px;
    text-shadow: 1px 2px 3px #850000;
    text-align: center;
    color: #000; }
    @media (max-width: 759px) {
      .divInicial .h1-index {
        font-size: 50px; } }
    @media (max-width: 655px) {
      .divInicial .h1-index {
        font-size: 40px;
        align-self: center; } }
    @media screen and (max-width: 580px) {
      .divInicial .h1-index {
        font-size: 31px; } }
  .divInicial img {
    height: 95px;
    top: 5px;
    position: absolute; }
  @media (max-width: 539px) {
    .divInicial {
      display: flex;
      justify-content: center; }
      .divInicial a {
        display: none; } }

/* Index */
.back {
  background-image: url("../assets/img/wdqfe-min.jpg");
  height: 1000px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 240px auto; }
  @media screen and (max-width: 580px) {
    .back {
      background-position: left; } }
  .back .h2 {
    grid-row: 1/2;
    grid-column: 1/3;
    padding-top: 25px;
    justify-self: center;
    color: #fff;
    font-size: 30px;
    word-spacing: 8px;
    text-shadow: 3px 2px 2px #850000; }

.entrenar {
  -webkit-animation: scale-in-hor-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  @media screen and (max-width: 918px) {
    .entrenar {
      display: none; } }
  .entrenar h2 {
    grid-row: 2/3;
    color: white;
    font-family: 'Jockey One', sans-serif;
    font-size: 70px;
    text-shadow: 5px 4px #850000;
    padding-left: 40px; }

.nav-principal {
  grid-row: 2/3;
  grid-column: 2/3; }
  @media screen and (max-width: 918px) {
    .nav-principal {
      grid-row: 2/3;
      grid-column: 1/3;
      justify-self: center; } }
  .nav-principal .navbar-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    column-gap: 50px;
    padding: 0; }
    @media screen and (max-width: 580px) {
      .nav-principal .navbar-index {
        column-gap: 20px; } }
    @media screen and (max-width: 336px) {
      .nav-principal .navbar-index {
        column-gap: 10px;
        row-gap: 50px; } }
    .nav-principal .navbar-index .li-red1 {
      justify-self: end; }
    .nav-principal .navbar-index .li-red3 {
      justify-self: end; }

.navbar-index {
  -webkit-animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .navbar-index li {
    height: 230px;
    width: 280px;
    background-color: #850000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    @media screen and (max-width: 580px) {
      .navbar-index li {
        width: 160px;
        height: 150px; } }
    @media screen and (max-width: 336px) {
      .navbar-index li {
        width: 150px; } }
  .navbar-index .a-index {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 33px; }
    @media screen and (max-width: 580px) {
      .navbar-index .a-index {
        font-size: 22px; } }
    @media screen and (max-width: 336px) {
      .navbar-index .a-index {
        font-size: 20px; } }
  .navbar-index img {
    height: 90px; }

/* Navbar Pages */
.nav-wraper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  /**1rem= 16px**/
  height: 120px; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  nav .logo {
    display: flex;
    justify-content: center;
    align-items: center; }
    nav .logo p {
      font-size: 25px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.menu ul {
  list-style: none;
  display: flex;
  gap: 3rem; }
  .menu ul li a {
    text-decoration: none;
    color: #850000;
    font-size: 25px;
    transition: 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative; }
    .menu ul li a::after {
      content: "";
      position: absolute;
      background-color: #850000;
      height: 5px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.5s; }
    .menu ul li a:hover::after {
      width: 100%;
      transition: 0.5s; }
    .menu ul li a:hover {
      color: #000; }
    @media screen and (max-width: 918px) {
      .menu ul li a {
        color: #fff; }
        .menu ul li a:hover {
          color: #fff; } }

nav #toggle, nav label {
  display: none; }

/* Contacto */
.backgroud-contac {
  background-color: #000;
  height: 150px; }
  .backgroud-contac .h1-contac {
    padding-top: 10px;
    color: #fff;
    text-shadow: 4px 4px #850000;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 60px; }
  .backgroud-contac p {
    color: #fff;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px; }

.container-grid-contac {
  height: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-area: "contac1 contac2"; }

.text-h2 {
  justify-self: center; }
  .text-h2 .text-h2-con {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 32px;
    margin: 30px 10px;
    color: #000; }

.map {
  grid-area: contac2;
  margin-top: 120px; }

.form-grid {
  grid-area: contac1;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: repeat(2, 100px) 1fr 1fr;
  grid-template-areas: "item1 item2" "item3 item4" "item5 item5" "item6 item6"; }
  .form-grid .item-gen .p-form {
    font-family: 'IM Fell French Canon SC', serif;
    padding: 0px;
    margin: 0px; }
  .form-grid .item1 {
    grid-area: item1; }
  .form-grid .item2 {
    grid-area: item2; }
  .form-grid .item3 {
    grid-area: item3; }
  .form-grid .item4 {
    grid-area: item4; }
  .form-grid .item5 {
    grid-area: item5; }
    .form-grid .item5 textarea {
      resize: none;
      width: 562px;
      height: 250px; }
  .form-grid .item6 {
    grid-area: item6;
    justify-self: center;
    padding-top: 15px; }
    .form-grid .item6 .input-sub {
      background-color: #850000;
      color: #fff;
      width: 400px; }
  .form-grid .item-gen {
    margin-left: 5px; }

.item-gen input {
  color: #fff; }

.inputs {
  background-color: #222222;
  height: 50px;
  width: 260px;
  margin-left: 5px;
  border: 5px solid #850000; }

/* Sobre Nosotros */
.banner-sobre {
  background-color: #000;
  width: 100%;
  height: 290px; }
  .banner-sobre h1 {
    color: #fff;
    font-size: 65px;
    font-family: 'Anton', sans-serif;
    text-shadow: 5px 5px #850000;
    padding-left: 10px;
    padding-top: 20px; }
  .banner-sobre p {
    color: #fff;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 30px; }

.servicios h2 {
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  padding: 20px;
  padding-top: 50px;
  color: #000; }

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .contenedor img {
    height: 400px;
    width: 550px;
    border-radius: 30px;
    border: solid 2px #850000;
    margin: 16px; }

.img {
  position: relative;
  text-align: center; }
  .img .training {
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    text-shadow: 3px 3px 1px #222222; }
  .img .lorem {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center; }

.lugares h2 {
  font-family: 'Anton', sans-serif;
  font-size: 31px;
  padding: 20px;
  padding-top: 90px;
  color: #000; }

.contenedor-entrenamiento {
  display: flex;
  padding: 40px;
  padding-top: 80px; }
  .contenedor-entrenamiento .img-salas {
    width: 800px;
    height: 490px;
    border: #850000 solid 8px; }

.contenedor-entrenamiento2 {
  display: flex;
  padding: 40px;
  padding-top: 80px; }
  .contenedor-entrenamiento2 .img-salas {
    width: 800px;
    height: 490px;
    border: #850000 solid 8px; }

.salas h3 {
  font-family: 'Anton', sans-serif;
  color: #850000;
  font-size: 40px;
  margin-left: 15px; }

.salas p {
  margin: 10px;
  font-size: 25px; }

/* Ejercicos */
.background-ejer {
  background-image: url("../assets/img/wp3006532.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 2000px; }
  @media screen and (max-width: 1024px) {
    .background-ejer {
      height: 2500px; } }
  @media screen and (max-width: 580px) {
    .background-ejer {
      height: 2800px;
      background-position: center; } }
  @media screen and (max-width: 336px) {
    .background-ejer {
      height: 3300px; } }

.tituloprin {
  font-family: 'Anton', sans-serif;
  font-size: 70px;
  color: #000;
  margin-bottom: 50px;
  text-align: center; }
  @media screen and (max-width: 580px) {
    .tituloprin {
      font-size: 55px; } }

.ejeglobal img {
  height: 300px;
  width: 400px;
  border-radius: 40px 40px 0 0;
  z-index: -2; }
  @media screen and (max-width: 1024px) {
    .ejeglobal img {
      height: 200px;
      width: 300px; } }
  @media screen and (max-width: 580px) {
    .ejeglobal img {
      height: 150px;
      width: 190px; } }

.ejeglobal a {
  text-decoration: none;
  color: #fff; }

.ejeglobal div {
  position: relative;
  z-index: 100;
  margin-top: -20px;
  background-color: #000;
  height: 115px;
  width: 400px;
  border-radius: 30px 30px 0 0; }
  @media screen and (max-width: 1024px) {
    .ejeglobal div {
      width: 300px; } }
  @media screen and (max-width: 580px) {
    .ejeglobal div {
      width: 190px;
      height: 90px; } }

.eje {
  font-size: 45px;
  text-align: center; }
  @media screen and (max-width: 1024px) {
    .eje {
      font-size: 35px; } }
  @media screen and (max-width: 580px) {
    .eje {
      font-size: 25px; } }

.xejer {
  font-size: 25px;
  text-align: center; }
  @media screen and (max-width: 580px) {
    .xejer {
      font-size: 15px; } }

.containesejercicios {
  -webkit-animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  row-gap: 70px; }
  @media screen and (max-width: 1024px) {
    .containesejercicios {
      grid-template-columns: auto auto;
      row-gap: 90px; } }
  @media screen and (max-width: 336px) {
    .containesejercicios {
      grid-template-columns: auto; } }

/* Entrenadores */
.backgorund-entrenadores {
  background-image: url("../assets/img/r.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  filter: brightness(0.7);
  filter: contrast(0.99); }

.section-entrenadores h1 {
  color: #000;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 60px; }

.section-entrenadores h2 {
  color: #000;
  text-align: start;
  font-family: 'Jockey One', sans-serif;
  font-size: 45px;
  padding: 13px; }

.section-entrenadores p {
  text-shadow: 3px 3px #850000;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  font-size: 30px; }

.backgroud-grey {
  background-color: #141414;
  height: 200px; }

.backgroud-grey:last-child {
  background-color: #141414;
  height: 1000px; }

.h2-entrenadores h2 {
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  padding: 50px 30px;
  text-shadow: 4px 2px #850000; }

.h2-entrenadores p {
  color: #929090;
  padding: 3  0px 20px;
  font-size: 20px;
  text-align: center; }

.container-entrenadores {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  align-content: center;
  row-gap: 70px;
  padding-top: 100px; }

.entglobal img {
  height: 450px;
  width: 400px;
  border-radius: 40px 40px 0 0;
  z-index: -2; }

.entglobal a {
  text-decoration: none;
  color: #fff; }

.entglobal div {
  position: relative;
  z-index: 100;
  margin-top: -40px;
  height: 120px;
  width: 400px;
  border-radius: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.nombre-ent {
  font-size: 45px;
  text-align: center; }

.rol {
  font-size: 25px;
  text-align: center;
  color: #8f8e8e; }

.ent1 div {
  height: 120px;
  width: 400px;
  background-color: #57679F;
  color: #000;
  font-family: 'Jockey One', sans-serif; }

.ent2 div {
  height: 120px;
  width: 400px;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Jockey One', sans-serif; }

.ent3 div {
  height: 120px;
  width: 400px;
  background-color: #E3BC56;
  color: #000000;
  font-family: 'Jockey One', sans-serif; }

.ent4 div {
  height: 120px;
  width: 400px;
  background-color: #850000;
  color: grey;
  font-family: 'Jockey One', sans-serif; }

/* Responsive NAVBAR-PAGES */
@media (max-width: 1000px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0; }
  nav label {
    display: inline-flex;
    color: #b80a0a;
    cursor: pointer;
    align-items: center; }
  nav #toggle:checked ~ .menu {
    position: absolute;
    top: 13%;
    left: 0;
    background-color: #000000b0;
    height: 350px;
    z-index: 10000; }
  .menu ul li a {
    font-size: 25px; } }

@media (max-width: 320px) {
  .logo p {
    font-size: 20px; }
  .logo img {
    width: 70px; }
  .menu ul li a {
    font-size: 25px; } }

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1; } }

@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1; } }
