/* Contacto */


.backgroud-contac{
    background-color: $colorsecun;
    height: 150px;
    .h1-contac{
        padding-top: 10px;
        color: #fff;
        text-shadow: 4px 4px $colorprinci;
        font-family: 'IM Fell French Canon SC', serif;
        font-size: 60px;
        @include mobile{
            font-size: 46px;
        }
        @include mobile_s{
            font-size: 34px;
        }
    }
    h2{
        color: #fff;
        font-family: 'IM Fell French Canon SC', serif;
        font-size: 24px;
        padding-left: 10px;
        padding-top: 10px;
        @include laptop{
            font-size: 22px;
        }
        @include mobile{
            font-size: 20px;
        }
        @include mobile{
            font-size: 16px;
        }
    }
    @include mobile{
        height: 170px;
    }
}

.container-grid-contac{
    -webkit-animation: slide-in-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-area:
    "contac1 contac2";
    @include laptop{
        height: 1700px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-area:
        "contac1"
        "contac2";
    }
    section{
        @include laptop{
            justify-self: center;
            align-self:center
        }
    }
}


.text-h2{
    justify-self: center;
    .text-h2-con{
        font-family: 'IM Fell French Canon SC', serif;
        font-size: 35px;
        margin: 30px 10px;
        color: $colorsecun;
        @include mobile{
            text-align: center;
        }
    }
}


.map{
    grid-area: contac2;
    margin-top: 120px;
    iframe{
        @include laptop_L{
            width: 470px;
            height: 450px;
        }
        @include mobile{
            width: 300px;
            height: 300px;
        }
        @include mobile{
            width: 280px;
            height: 240px;
        }
        @include mobile_s{
            width: 230px;
            height: 220px;
        }
    }
    
}

.form-grid{
    grid-area: contac1;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(2,100px) 1fr 1fr;
    grid-template-areas:
    "item1 item2"
    "item3 item4"
    "item5 item5"
    "item6 item6";
    .item-gen{
        label{
            font-family: 'IM Fell French Canon SC', serif;
            padding:0px;
            margin: 0px;
            @include mobile{
                display: grid;
            }
        }
    }
    .item1{
        grid-area: item1;
    }
    .item2{
        grid-area: item2;
    }
    .item3{
        grid-area: item3;
    }
    .item4{
        grid-area: item4;
    }
    .item5{
        grid-area: item5;
        textarea{
            resize: none;
            width: 562px;
            height: 250px;
            @include mobile{
                justify-self: center;
                width: 340px;
                height: 220px;
                margin: 0;
            }
            @include mobile_s{
                width: 270px;
            }
        }
    }
    .item6{
        grid-area: item6;
        justify-self: center;
        padding-top: 15px;
        .input-sub{
            background-color: $colorprinci;
            color: #fcfcfc;
            width: 400px;
            transition: .3s;
            @include mobile{
                width: 300px;
            }
            @include mobile_s{
                width: 210px;
            }
            &:hover{
                color: #fff;
                background-color: #000000;
                transition: .3s;
                transform: scale(1.2);
            }
        }
        @include mobile{
            padding: 0px;
        }
        
    }
    .item-gen{
        margin-left: 5px;
        @include mobile{
            margin: 0;
        }
    }
    @include mobile{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9,100px);
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item5"
        "item5"
        "item6";
        .item1{
            justify-self: center;
        }
        .item2{
            justify-self: center;
        }
        .item3{
            justify-self: center;
        }
        .item4{
            justify-self: center;
        }
        .item5{
            justify-self: center;
        }
        .text-h2 h2{
            text-align: center;
        }
        .input-sub{
            margin-top: 15px;
        }
    }
}

.item-gen{
    input{
        color: #fff;
    }
}

.inputs{
    color: #fff;
    background-color: #222222;
    height: 50px;
    width: 260px;
    margin-left: 5px;
    border: 5px solid $colorprinci;
    @include mobile{
        width: 330px;
    }
    @include mobile_s{
        width: 250px;
    }
}

.horarios{
    font-family: Anton;
    font-size: 40px;
    color: #000000;
    @include tablet_s{
        text-align: center;
    }
}

.table{
    border: none;
    .res{
        display: flex;
        flex-direction: column;
    }
    tr{
        border: none;
        text-align: center;
        th{
            border: none;
            font-family: 'Jockey One', sans-serif;
            font-size: 26px;
        }
        td{
            border: none;
            font-family: 'IM Fell French Canon SC', serif;
            font-size: 20px;
            font-weight: bold;
        }
    }
    @include tablet_s{
        display: none;
    }
}

.feriado{
    color: #000000;
}
.closed{
    color: #bd0606;
}

.tabla-res{
    display: none;
    @include tablet_s{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    tr{
        th{
            font-family: 'Jockey One', sans-serif;
            font-size: 26px;
        }
        td{
            font-family: 'IM Fell French Canon SC', serif;
            font-size: 20px;
            font-weight: bold;
        }
    }
    margin: 40px 0;
}


.back-black{
    border-bottom: 8px double $colorprinci;
    border-top: 8px double $colorprinci;
    width: 100%;
    height: 300px;
    @include tablet{
        height: 550px;
        padding: 0;
        margin: 0;
    }
}

.local{
    h2{
        color: #000000;
        font-family: 'Jockey One', sans-serif;
        font-size: 40px;
    }
    p{
        color:#000000;
    }
    .img-contac{
        width: 50px;
        height: 50px;
        z-index: 1000000;
    }
}
.estamos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 40px 0;
    h2{
        font-size: 40px;
        @include tablet{
            font-size: 30px;
            text-align: center;
        }
    }
}
.flex-local{
    display: flex;
    justify-content: space-evenly;
    @include tablet{
        flex-direction: column;
    }
}
.localc{
    display: flex;
    flex-direction: column;
    align-items: center;
}