/* Entrenadores */

.backgorund-entrenadores{
    background-image: linear-gradient(90deg, rgba(187,4,4,0.8183648459383753) 18%, rgba(142,6,6,0) 30%, rgba(25,25,25,0.9164040616246498) 82%), url("../assets/img/bodybuilder-646482_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-bottom: 9px solid $colorprinci;
    width: 100%;
    height: 600px; 
    @include laptop{
        height: 400px;
    }
    @include mobile{
        height: 320px;
    }
    @include mobile_s{
        height: 350px;
    }
}


.section-entrenadores{
    h1{
        strong{
            color: $colorprinci;
        }
        color: #ffffff;
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: 60px;
        padding: 20px 0;
        @include laptop{
            font-size: 50px;
        }
        @include mobile{
            font-size: 30px;
        }
    }
    h2{
        color: #ffffff;
        text-align: center;
        padding-top: 50px;
        font-size: 30px;
        font-family: 'Anton', sans-serif;
        strong{
            color: $colorprinci;
        }
        @include laptop{
            font-size: 20px;
            padding-top: 0 ;
        }
        @include mobile{
            font-size: 15px;
        }
    }
}


.backgroud-grey{
    background-color: #ffffff;
    height: 1500px;
    @include laptop_L{
        height: 1600px;
    }
    @include tablet_s{
        height: 2100px;
    }
}




.h2-entrenadores{
    h2{
        color: #000;
        font-family: 'Anton', sans-serif;
        font-size:45px;
        @include tablet{
            text-align: center;
        }
        padding: 50px 0;
        @include mobile{
            font-size:30px;
            
        }
        @include mobile_s{
            font-size: 25px;
        }
    }
    p{
        color: #929090;
        padding: 30px 20px;
        font-size: 20px;
        text-align: center;
        @include mobile{
            font-size:15px;
        }
    }
}



.container-entrenadores{
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card-entrenadores{
    position: relative;
    height: 500px;
    @include laptop{
        height: 400px;
    }
    @include tablet_s{
        height: 310px;
    }
    margin: 50px;
    box-shadow: 5px 5px 30px #000;
    overflow: hidden;
    border-radius: 30px;
    &:hover{
        cursor:pointer;
        .p-entrenador{
            height: 220px;
            background: #00000094;
        }
        .color-entre1{
            background: #57679f96;
        }
        .color-entre2{
            .des-entre{
                color: #fff;
            }
        }
        .color-entre3{
            background: #e3bb56a9;
        }
        .color-entre4{
            background: #85000098;
            .des-entre{
                color: #fff;
            }
        }
        .des-entre{
            color:#fff;
            z-index: 100000;
        }
        .img-entrenador{
            transform: scale(1.1) rotate(-3deg);
        }
    }
    .img-entrenador{
        height: 500px;
        width: 350px;
        @include laptop{
            height: 400px;
            width: 250px;
        }
        @include tablet_s{
            height: 310px;
            width: 220px;
        }
        border-radius: 3px;
        transition: .5s;
    }
    .p-entrenador{
        height: 70px;
        width: 350px;
        @include laptop{
            width: 250px;
        }
        @include tablet_s{
            width: 220px;
        }
        padding: 6px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        background-color: rgb(27,27,27);
        color: #fff;
        transition: .5s;
        .nom-entre{
            font-family: 'Jockey One', sans-serif;
            text-align: center;
            font-size: 40px;
            @include laptop{
                font-size: 30px;
            }
        }
        .des-entre{
            color:#000000;
            font-size: 15px;
            margin: 10px;
            font-family: 'Jockey One', sans-serif;
            @include laptop{
                font-size: 12px;
                margin: 5px;
            }
        }
    }
    .color-entre1{
        background: #57679F;
        p{
            color: #000;
        }
    }
    .color-entre2{
        background: #000;
        p{
            color: #fff;
        }
    }
    .color-entre3{
        background: #E3BC56;
        p{
            color: #000;
        }
    }
    .color-entre4{
        background: #850000;
    }
}





.contendor-beneficios{
    background-color: #fafafa;
    height: 900px;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: $colorprinci 5px solid;
    border-top: $colorprinci 5px solid;
    @include laptop_L{
        height: 1000px;
    }
    @include laptop{
        height: 1200px;
    }
    @include tablet{
        display: flex;
        flex-direction: column;
        height: 1300px;
    }
    @include mobile{
        height: 1800px;
    }
    @include mobile_s{
        height: 1900px;
    }
}

.beneficios{
    grid-column: 1/6;
}
.beneficios{
    h3{
        color: $colorprinci;
        padding-top: 40px;
        padding-left: 40px;
        font-size: 40px;
        font-family: Anton;
        @include tablet_s{
            text-align: center;
            padding-left: 0;
        }
    }
}
.beneficios{
    p{
        color: #555353;
        font-size: 20px;
        padding: 0 40px;
        @include tablet_s{
            padding: 0 10px;
        }
    }
}
.h4-p{
    h4{
        color: $colorprinci;
        padding-top: 40px;
        padding-left: 40px;
        font-size: 35px;
        font-family: Anton;
        @include tablet_s{
            text-align: center;
            padding-left: 0;
        }
    }
    p{
        color: #555353;
        font-size: 15px;
        padding: 0 40px;
    }
}



