/* Entrenadores */

.backgorund-entrenadores{
    background-image: linear-gradient(90deg, rgba(187,4,4,0.8183648459383753) 18%, rgba(142,6,6,0) 30%, rgba(25,25,25,0.9164040616246498) 82%), url("../assets/img/bodybuilder-646482_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-bottom: 9px solid $colorprinci;
    width: 100%;
    height: 600px; 
    @include laptop{
        height: 400px;
    }
    @include mobile{
        height: 320px;
    }
    @include mobile_s{
        height: 350px;
    }
}


.section-entrenadores{
    h1{
        strong{
            color: $colorprinci;
        }
        color: #ffffff;
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: 60px;
        padding: 20px 0;
        @include laptop{
            font-size: 50px;
        }
        @include mobile{
            font-size: 30px;
        }
    }
    h2{
        color: #ffffff;
        text-align: center;
        padding-top: 50px;
        font-size: 30px;
        font-family: 'Anton', sans-serif;
        strong{
            color: $colorprinci;
        }
        @include laptop{
            font-size: 20px;
            padding-top: 0 ;
        }
        @include mobile{
            font-size: 15px;
        }
    }
}


.backgroud-grey{
    background-color: #ffffff;
    height: 1200px;
    @include laptop_L{
        height: 1600px;
    }
    @include mobile{
        height: 2600px;
    }
}




.h2-entrenadores{
    h2{
        color: #000;
        font-family: 'Anton', sans-serif;
        font-size:45px;
        padding: 50px 30px;
        @include mobile{
            font-size:30px;
            text-align: center;
        }
        @include mobile_s{
            font-size: 25px;
        }
    }
    p{
        color: #929090;
        padding: 3  0px 20px;
        font-size: 20px;
        text-align: center;
        @include mobile{
            font-size:15px;
        }
    }
}


// .container-entrenadores{
//     width: 100%;
//     display: grid;
//     grid-template-columns: auto auto auto auto;
//     justify-content: space-evenly;
//     align-content: center; 
//     row-gap: 70px;
//     padding-top: 100px;
//     @include laptop_L{
//         grid-template-columns: auto auto;
//         grid-template-rows:  auto auto;
//     }
//     @include mobile{
//         grid-template-columns: 1fr;
//         grid-template-rows:  auto auto auto auto;
//     }
// }

.container-entrenadores{
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.box{
    height: 350px;
    width: 300px;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 1.5%;
    border-radius: 40px 40px 0 0;
    z-index: 100;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .hover{
        width: 0%;
        height: 50vh;
        background-color: #b1afafab;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: start;
        align-items: start;
        overflow: hidden;
        p{
            color: #fff;
            text-shadow: 1px 1px 1px black;
            font-size:15px;
            text-transform: uppercase;
        }
    }
    &:hover{
        .hover{
            width: 100%;
        }
    }
}



.div-nombre{
    z-index: 1000000;
    height: 130px;
    width: 310px;
    background-color:#57679F;
    .nombre-ent{
        font-size: 30px;
        text-align: center;
    }
    @include mobile_s{
        width: 250px;
    }
}

.entglobal{
    img{
        box-shadow: 0px 20px 63px -3px rgba(0,0,0,0.66);
        -moz-box-shadow: 0px 20px 63px -3px rgba(0,0,0,0.66);
        box-shadow: 0px 20px 63px -3px rgba(0,0,0,0.66);
        height: 350px;
        width: 300px;
        border-radius: 40px 40px 0 0;
        z-index: -2;
        @include mobile_s{
            width: 250px;
            height: 300px;
        }
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    div{
        position: relative;
        z-index: 100;
        margin-top: -40px;
        height: 150px;
        width: 400px;
        border-radius:30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}



.rol{
    font-size: 25px;
    text-align: center;
    color: rgb(143, 142, 142);
}



.contendor-beneficios{
    background-color: #fafafa;
    height: 900px;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: $colorprinci 5px solid;
    border-top: $colorprinci 5px solid;
    @include laptop_L{
        height: 1000px;
    }
    @include laptop{
        height: 1100px;
    }
    @include tablet{
        display: flex;
        flex-direction: column;
        height: 1200px;
    }
    @include mobile{
        height: 17  00px;
    }
}

.beneficios{
    grid-column: 1/6;
}
.beneficios{
    h3{
        color: $colorprinci;
        padding-top: 40px;
        padding-left: 40px;
        font-size: 40px;
        font-family: Anton;
    }
}
.beneficios{
    p{
        color: #555353;
        font-size: 20px;
        padding: 0 40px;
    }

}
.h4-p{
    h4{
        color: $colorprinci;
        padding-top: 40px;
        padding-left: 40px;
        font-size: 35px;
        font-family: Anton;
    }
}
.h4-p{
    p{
        color: #555353;
        font-size: 15px;
        padding: 0 40px;
    }
}


