/* Ejercicos */

.background-ejer{
    background-image: url("../assets/img/wp3006532.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 2000px;
    @include laptop{
        height: 2500px;
    }
    @include mobile{
        height: 2800px;
        background-position: center;
    }
    @include mobile_s{
        height: 3300px;
    }
}


.tituloprin{
    font-family: 'Anton', sans-serif; 
    font-size: 70px;
    color: $colorsecun;
    margin-bottom: 50px;
    text-align: center;
    @include mobile{
        font-size: 55px;
    }
}



.ejeglobal{
    img{
        height: 300px;
        width: 400px;
        border-radius: 40px 40px 0 0;
        z-index: -2;
        @include laptop{
            height: 200px;
            width: 300px;
        }
        @include mobile{
            height: 150px;
            width: 190px;
        }
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    div{
        position: relative;
        z-index: 100;
        margin-top: -20px;
        background-color: $colorsecun;;
        height: 115px;
        width: 400px;
        border-radius:30px 30px 0 0;
        @include laptop{
            width: 300px;
        }
        @include mobile{
            width: 190px;
            height: 90px;
        }
    }
}


.eje{
    font-size: 45px;
    text-align: center;
    @include laptop{
        font-size: 35px;
    }
    @include mobile{
        font-size: 25px;
    }
}

.xejer{
    font-size: 25px;
    text-align: center;
    @include mobile{
        font-size: 15px;
    }
}


.containesejercicios{
    -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    row-gap: 70px;
    @include laptop{
        grid-template-columns: auto auto;
        row-gap: 90px;
    }
    @include mobile_s{
        grid-template-columns: auto;
    }
}