/* Responsive NAVBAR-PAGES */
@media (max-width:1000px) {
    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .menu ul{
        flex-direction: column;
        align-items: start;
        padding: 0.5rem 0;
    }
    nav label{
        display: inline-flex;
        color: rgb(184, 10, 10);
        cursor: pointer;
        align-items: center;
    }
    nav #toggle:checked ~ .menu{
        position: absolute;
        top: 14%;
        left: 0;
        background-color: #000000;
        height: 100%;
        z-index: 10000;
    }
    .menu ul li a{
        font-size: 25px;
    }
}
@media (max-width:320px){
    .logo p{
        font-size: 20px;
    }
    .logo img{
        width: 70px;
    }
    .menu ul li a{
        font-size: 25px;
    }
}